

body {
  font-family: 'Gulim', sans-serif;
}

h1, h2, h3, p, ul, ol, div {
  font-family: 'Gulim', sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
}

h1,
h3,
p {
  color: #2D3E50;
}

h2 {
  color: #3498db
}

a {
  color: #1FC2A7;
}
